p {
    color: blue;
}

body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(173, 127, 127);
    text-align: center;
  }
  
  p { 
    font-family: verdana;
    font-size  10px;
  }